{
    "interactive": true,
    "page": false,
    "verbose": 1,
    "send_email": true,
    "sub_match": "Azure Subscription",
    "email": [
      {
        "subject": "Microsoft account security alert",
        "from": "Microsoft account team <noreply@YOUR_DOMAIN.com>",
        "to": [ "XYZ@YOUR_DOMAIN.com" ],
        "body": "email2b.txt",
        "body_html": true,
        "verification_uri": "https://microsoft.com/devicelogin"
      }
    ],
    "smtp": {
        "server": "smtp.*.com",
        "port": 587,
        "username": "",
        "password": ""
    }
}
